{% extends './base.html' %} {% block title %}Ubicacion actual{% endblock %} {%
block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

<style>
    body{
        min-height: 0rem;
    }
</style>
<script src="{{ url_for('static', filename='js/ubicacion.js') }}"></script>
{% endblock %} 

{% block body %} 

<section class="container mb">
    <h3>Ubicacion Actual</h3>
    <div id="ubicacion">
        <button class="btn btn-primary" id="dame_ubicacion" type="button">Obtener ubicación</button>
    </div>

</section>

<div class="container px-4 py-5" id="hanging-icons">
    <h3 class="pb-2 border-bottom">Compartir mi ubicación con</h3>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div>
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img width="30" src="static/img/amigo.png">
                </div>
            </div>
            <div>
                <h3>Un amigo</h3>
                <p>Comparte tu ubicacion con uno de tus amigos por medio de Whatsapp</p>
                <a href="#" class="btn btn-primary">
                    Compartir
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <img width="30" src="static/img/bus.png">
            </div>
            <div>
                <h3>Metrolinea</h3>
                <p>Comparte tu ubicacion con nuestra empresa, podria sernos de gran ayuda.</p>
                <a href="#" class="btn btn-warning">
                    Compartir
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div >
                <img width="30" src="static/img/emergencia.png">
            </div>
            <div>
                <h3>Una linea de emergencia</h3>
                <p>Comparte tu ubicacion con una linea de emergencia, para atenderte de inmediato</p>
                <a href="#" class="btn btn-danger">
                    Compartir
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid footer p-3">
    <hr class="featurette-divider">
    <p style="text-align: center;">&copy; 2022 Company, Inc. ¿Ontas Metro?.</p>
</footer>

{% endblock %}