{% extends './base.html' %} {% block title %}Ver estaciones{% endblock %} {%
block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %} {% block body %}


<section class="container mb">
    <div class="mb">
        <h3>Planificador de viajes</h3>
    </div>

    <div id="routes-responsive" class="embed-responsive embed-responsive-16by9 mb">
        <iframe id="gallery" scrolling="no" frameborder="0" width="100%" height="600" class="embed-responsive-item"
            src="https://moovitapp.com/?customerId=5186&amp;metroId=4324&amp;lang=es-419"></iframe>
    </div>

    <div class="mb">
        <h3 class="mb">Ver estaciones</h3>
        <div class="input-group mb-3">
            <button type="button" class="btn btn-outline-secondary">Planifica tu viaje</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Direcciones</a></li>
                <li><a class="dropdown-item" href="#">Lineas</a></li>
                <li><a class="dropdown-item" href="#">Alertas</a></li>
            </ul>
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion1.jpg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion2.jpg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion3.jpeg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion4.jpg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion5.jpg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="static/img/estacion6.jpg" height="230">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- footer -->

<footer class="container-fluid footer p-3">
    <hr class="featurette-divider">
    <p style="text-align: center;">&copy; 2022 Company, Inc. ¿Ontas Metro?.</p>
</footer>

{% endblock %}