{% extends './base.html' %} {% block title %}Perfil | {{current_user.nombre}} {%
endblock %} {% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
<style>
    body {
        min-height: 0rem;
    }

    footer {
        position: absolute;
        bottom: 3rem;
    }
</style>
{% endblock %}
{% block body %}


<!-- Informacion del usuario -->

<section class="container mt-4 mb-4">
    <h3>Visualizar perfil</h3>
    <div class="card mb-3 p-4">
        <div class="row g-0">
            <div class="col-md-4">
                <img  width="50%" height="100%" class="btn-md" src="static/img/perfilusuario.png"  style="border-radius: 50%" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{current_user.userName}}</h5>
                    <p class="card-text">
                        <strong>Ruta más Usada: </strong> P10, UTS - Estacion Provenza
                    </p>
                    <p class="card-text">
                        <strong>Opciones: </strong>
                        <br>
                        <a href="#" class="btn btn-warning">
                            Actualizar
                        </a>
                        <a href="#" class="btn btn-danger">
                            Eliminar
                        </a>
                    </p>
                    <p class="card-text"><small class="text-muted">Tiempo de sesion 3 minutos</small></p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="container-fluid footer p-3">
    <hr class="featurette-divider">
    <p style="text-align: center;">&copy; 2022 Company, Inc. ¿Ontas Metro?.</p>
</footer>
{% endblock %}